/* =================================
 * 	ご利用規約 / 特定商取引法に基づく表示 / プライバシーポリシー
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
// .itemH3 {
//     font-size: FZ(45);
//     font-weight: 600;
//     letter-spacing: 0.04em;
// }
// .sidebarH3 {
//     font-size: FZ(18);
//     text-transform: uppercase;
//     margin-top: 0.5em;
//     font-weight: 500;
//     letter-spacing: 0.12em;
// }
.containerContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em 5em;
    @include sp {
        padding-inline: 4vw;
        padding-bottom: 10vw;
        padding-top: 4vw;
    }
    article {
        gap: 5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        font-size: inherit;
        @include sp {
            gap: 6vw 0;
        }
    }
    .blockKiyaku {
        dl {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: inherit;
            counter-reset: number 0;
            width: 100%;
            dt {
                font-size: FZ(18);
                border-bottom: 2px solid #eaeaea;
                font-weight: 500;
                padding-bottom: 0.5em;
                &::before {
                    content: counter(number) ".";
                    counter-increment: number 1;
                    margin-right: 0.3em;
                }
            }
            dd {
                font-size: FZ(16);
                line-height: 1.8em;
                letter-spacing: 0.08em;
                text-align: justify;
                padding-top: 0.5em;
                margin-bottom: 2em;
                display: flex;
                flex-direction: column;
                gap: 2em 0;
                p {
                    font-size: inherit;
                    line-height: 1.8em;
                    letter-spacing: 0.08em;
                    text-align: justify;
                }
                & > ul {
                    font-size: inherit;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2em 0;
                    width: 100%;
                    li {
                        width: 100%;
                        font-size: inherit;
                        line-height: 1.6em;
                        letter-spacing: 0.08em;
                        text-align: justify;
                    }
                }
            }
        }
    }
    .blockTokutei {
        dl {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: inherit;
            width: 100%;
            dt {
                font-size: FZ(18);
                border-bottom: 2px solid #eaeaea;
                font-weight: 500;
                padding-bottom: 0.5em;
            }
            dd {
                font-size: FZ(16);
                line-height: 1.8em;
                letter-spacing: 0.08em;
                text-align: justify;
                padding-top: 0.5em;
                margin-bottom: 2em;
                display: flex;
                flex-direction: column;
                gap: 2em 0;
                a {
                    font-size: inherit;
                    line-height: 1.8em;
                    letter-spacing: 0.08em;
                    text-align: justify;
                }
            }
        }
    }
}
